@import '_mixins';

.Navbar {
    margin: 40px 0;
    text-align: center;

    i {
        font-size: 50px;
        padding: 0 15px;
        font-weight: 400;
    
        @media only screen and (max-width: 414px) {
            font-size: 35px;
        }
    
        @media only screen and (max-width: 325px) {
            font-size: 25px;
        }
    }
    a {
        &:hover {
            color: var(--hover-color);
            @include uniform-text-shadow;
        }
    }
}

.secondLine {
    @media only screen and (max-width: 600px) {
        margin-top: 20px
    }
}
