.profile {
    align-items: center;
    background: rgb(58,114,180);
    background: linear-gradient(90deg, rgba(58,114,180,1) 0%, rgba(253,89,29,1) 60%, rgba(252,176,69,1) 100%);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    @media only screen and (max-width: 319px) {
        height: unset;
    }

    &-header {
        height: auto;
        width: 590px;

        @media only screen and (max-width: 600px) {
            padding: 0 20px;
        }

        &-subtitle {
            font-size: 30px;
            font-weight: normal;

            @media only screen and (max-width: 600px) {
                font-size: 25px;
            }

            @media only screen and (max-width: 319px) {
                font-size: 15px;
            }
        }

        &-subtitle--first {
            margin-bottom: unset;
        }
        &-subtitle--second {
            margin-top: unset;
        }

        &-list {
            margin: 50px 0;
            text-align: center;
        }
    }

    &-divider {
        border: 0;
        box-shadow: inset 0 12px 5px -12px rgba(30, 30, 30, 0.777);
        height: 12px;
    }
}

h1 {
    font-size: 90px;
    line-height: 90px;
    margin: unset;

    @media only screen and (max-width: 319px) {
        font-size: 40px;
        line-height: 40px;
    }
}

i {
    font-size: 50px;
    padding: 0 15px;
    font-weight: 400;

    @media only screen and (max-width: 414px) {
        font-size: 35px;
    }

    @media only screen and (max-width: 325px) {
        font-size: 25px;
    }
}

.secondLine {
    @media only screen and (max-width: 600px) {
        margin-top: 20px
    }
}

#linkedin :hover {
    color: #0a66c2df;
}

#github :hover {
    color: rgba(54, 54, 54, 0.82);
}

#devto :hover {
    color: rgba(255, 247, 11, 0.897);
}

#instagram :hover {
    color: #e700add2;
}

#twitter :hover {
    color: #1CA6D6;
}

#stackoverflow :hover {
    color: #F48024;
}
