<div class="profile">
    <div class="profile-header">
        <header>
            <h1>Rich</h1>
            <h1>Lira</h1>
            <h2 class="profile-header-subtitle profile-header-subtitle--first">I like to build new things.</h2>
            <h3 class="profile-header-subtitle profile-header-subtitle--second">I'm a Frontend Software Engineer.</h3>
            <hr class="profile-divider">
        </header>
        <nav class="profile-header-list">
            <a href="https://www.linkedin.com/in/ricardolira/" target="_blank" id="linkedin" aria-label="twitter">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/richlira" target="_blank" id="github" aria-label="github">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://dev.to/richlira" target="_blank" id="devto" aria-label="devto">
                <i class="fab fa-dev"></i>
            </a>
            <a href="https://www.instagram.com/richlira/" target="_blank" id="instagram" aria-label="instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/soyrichlira" target="_blank" id="twitter" aria-label="twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://stackoverflow.com/users/5848847/richlira" target="_blank" id="stackoverflow" aria-label="stackoverflow">
                <i class="fab fa-stack-overflow secondLine"></i>
            </a>
        </nav>
    </div>
</div>   